/* card.css */
/*.card {
  width: 320px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 20px auto;
  cursor: pointer;
}

 .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
} 

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card h1 {
  font-size: 1.5rem;
  color: #333;
  margin: 15px 0;
  font-family: 'Poppins', sans-serif;
}
*/